# Groq Reasoning Engine (Llama 3.3)
GROQ_API_KEY = ""
GROQ_MODEL = ""

# Portkey LLM Gateway
PORTKEY_API_KEY = ""
PORTKEY_CONFIG_ID = ""

# Qdrant Vector DB Settings 
QDRANT_API_KEY =""
QDRANT_CLUSTER_ENDPOINT = ""

# DATABASE (SUPABASE)
SUPABASE_URI = ""

# Google Cloud Console
GCP_PROJECT_ID=""
GOOGLE_APPLICATION_CREDENTIALS=""
VERTEXAI_EMBEDDING_MODEL=""

# FALLBACK EMBEDDING
GEMINI_API_KEY = ""

# EVALUATION
JUDGE_GROQ = ""

BACKEND_URL = ""

# === Observability

# Pydantic Logfire Observability
LOGFIRE_TOKEN =  ""

# LANGSMITH 
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""
LANGSMITH_HIDE_INPUTS=true
LANGSMITH_HIDE_OUTPUTS=true